@page "/"

<PageTitle>Index</PageTitle>

<h1>Hi, This is simple Book list.</h1>

You can keep track of the books you have and want to read.

<SurveyPrompt Title="This is sample app for making a project." />
